/* колір фону шапки #FFFFFF */
/* колір фону героя та футера #2F303A */
/* колір фону секцій особливості та робіт #F5F5F5 */
/* колір фону секціі з командою #F5F4FA */
/* колір тексту основний #757575 */
/* колір тексту другорядний #212121 */
/* колір акценту #2196F3 */

:root {
  --main-white-color: #ffffff;
  --second-section-color: #2f303a;
  --third-section-color: #f5f5f5;
  --team-section-color: #f5f4fa;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --geolocation-color: #ffffff;
  --customers-color: #afb1b8;
  --modal-form-color: rgba(33, 33, 33, 0.2);
}

/* Розмітка сторінки index.html */

/* значення властивостей для боді */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: var(--main-white-color);
  color: var(--main-text-color);
}

/* скидання стилів браузера  та стилі-утиліти */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-flex {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* Контейнер */

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */

.header {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.logo.word {
  margin-right: 93px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--logo-header-color);
}

.logo {
  color: var(--accent-color);
}

.site-nav {
  display: flex;

  margin-right: auto;

  align-items: center;
}

.anchors {
  display: flex;
  gap: 50px;
}

.anchors .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.anchors .link:hover,
.anchors .link:focus {
  color: var(--accent-color);
}

.anchors.list .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  align-items: center;
}

.auth-nav-item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-icon-mail,
.auth-icon-smartphone {
  fill: currentColor;
}

.anchors .link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Герой */

.hero.section {
  padding: 200px 0;
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Hero-background.jpg');
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-white-color);
}

.hero .button {
  min-width: 216px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;

  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .hero .button:hover,
.hero .button:focus {
  color: var(--accent-color);
  background-color: #ffffff;
  
} */

/* Особливості */

.features.section {
  padding-bottom: 0;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

.features-list {
  line-height: 1.71;
}

.features-item {
  max-width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon-card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--team-section-color);
  border-radius: 4px;
}

/* Чим ми займаємось */
.work-item {
  position: relative;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-text-color);

  margin-bottom: 50px;
}

.work-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.work-overlay-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-white-color);
}

/* Наша команда */

.team {
  background-color: var(--team-section-color);
}

.team-card {
  padding: 30px;

  text-align: center;

  background: var(--main-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* Соцмережі */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--customers-color);
  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.socials-icon {
  fill: currentColor;
}

/* Постійні клієнти */

.customers-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.customers-list {
  gap: 30px;
}

.customers-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 170px;
  height: 92px;

  color: var(--customers-color);
  border: 1px solid var(--customers-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

/* Футер */

address {
  font-style: normal;
}

.footer-nav {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--second-section-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--main-white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.address-list.link {
  line-height: 1.71;

  color: var(--geolocation-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

.address-list .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
  color: var(--footer-text-color);
}

.address-list .link:hover,
.address-list .link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-nav > .container {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-right: 70px;
}

.footer-socials-title {
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-white-color);
}

.socials-footer {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.socials-footer-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials-footer .socials-link {
  color: var(--main-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer .socials-link:hover,
.socials-footer .socials-link:focus {
  background-color: var(--accent-color);
}

/* Підписка */

.subscription-form {
  margin-left: auto;
}

.subscription-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subscription-title {
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-white-color);
}

.subscription-input {
  padding: 0 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;

  color: var(--main-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-input::placeholder {
  color: var(--main-text-color);
}

.subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--main-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscription-icon {
  fill: currentColor;
}

/* стилі для портфоліо */

.site-nav-btn.section-flex {
  margin-bottom: 50px;

  justify-content: center;
}

.site-nav-btn .portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.site-nav-btn .btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  color: var(--secondary-text-color);

  border: 0;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-btn .btn:hover,
.site-nav-btn .btn:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  width: 370px;
}

.card-description {
  --card-color: #eeeeee;
  padding: 20px 24px;

  background: var(--main-white-color);
  border: 1px solid var(--card-color);
  border-top: 0;
}

.portfolio.section {
  padding-top: 0;
}
.portfolio .portfolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.portfolio .portfolio-name {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding: 63px 24px;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;

  color: var(--main-white-color);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

/* модальне вікно  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  min-width: 528px;

  background-color: #ffffff;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-white-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  color: var(--accent-color);
}

.icon-close {
  fill: currentColor;
}

.modal-form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--secondary-text-color);
}

.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;

  height: 40px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: start;
}

.modal-form-input {
  width: 100%;
  height: 100%;
  padding: 11px 12px;
  padding-left: 42px;

  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;

  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-textarea:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-color: var(--accent-color);
}

.agreement {
  position: relative;
  display: flex;
  justify-content: center;

  margin-bottom: 30px;

  gap: 7px;
}

.agreement-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;

  outline: 3px solid transparent;
  outline-offset: -3px;
  border: 3px solid #212121;
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked {
  border-color: transparent;
  outline-color: var(--accent-color);
  outline-offset: -3px;
  background-color: var(--accent-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.agreement-checkbox:focus {
  border-color: transparent;
  outline-color: var(--accent-color);
  outline-offset: -3px;
}

.agreement-label {
  user-select: none;
}

.agreement-link {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--accent-color);
}

.modal-btn-send {
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  user-select: none;

  color: var(--main-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
